<h1>Modbus util: emulator</h1>
<label>Enter server's ID:</label>
<input [(ngModel)]="server_id" type="number" min="-1" (click)="getStartEndTime()">
<p>if server ID == -1 -> actions will done for all servers
<p>Status: {{status}}</p>
<h2>Getting actual emulation time</h2>
@for(current_data of actual_times; track $index){
    <li>{{current_data.id}} - {{current_data.actual_time}}</li>
} @empty {
    <li>There are no data</li>
}
<h2>Rewinding emulation</h2>
<p>Start: {{startEndTimes.start_time}}, end: {{startEndTimes.end_time}}</p>
<p>
    <input type="datetime-local" step="1" [(ngModel)]="rewind_time">
    <button (click)="rewindEmulation()">Set emulation time</button>
</p>
<h2>Manually work with registers</h2>
<p>All fields except the data field are used for reading. For writting data ignored "count".</p>
<p>
    <label>slave ID: </label>
    <input type="number" min="0" [(ngModel)]="slaveID">
    <select [(ngModel)]="registerType">
        <option>coils</option>
        <option>DI</option>
        <option>HR</option>
        <option>IR</option>
    </select>
    <select [(ngModel)]="operation">
        <option value="read">read</option>
        <option value="write">write</option>
    </select>
    <label>start address: </label>
    <input [(ngModel)]="startIndex">
    <label>count: </label>
    <input type="number" min="1" [(ngModel)]="count">
</p>
<p>
    <input [(ngModel)]="registerData">
    <button (click)="manuallyRegistersWork()">Do action</button>
</p>